 
#dlunbo {
   margin:40px auto;
   width:852px;
}

/*.ig {
    position: absolute;
}*/
.img_lb
{
width:852px;
height:385px;
}
#tabs {
     
    position: absolute;
    width: 200px;
    height: 34px;
    margin:350px 350px 0px 350px;
}
/*.clear{
  clear:left;
}*/
.tab {
    width: 30px;
    height: 30px;
    background-color: #2dccb9;
    color: #fff;
    text-align: center;
    line-height: 30px;
    float: left;
    margin: 0px 5px;
       border-radius: 100%;
    cursor: pointer;
}

.btn {
    width: 36px;
    height: 60px;
    background: rgba(0,0,0,0.5);
    position:absolute;
    color:#fff;
    font-size:35px;
    text-align:center;
    line-height:60px;
    cursor:pointer;
    display:none;
    top:160px;

}
.btn1 {
  margin:175px -875px 165px 0px;
}
.btn2 {
  margin:175px 0px 165px 815px;

}

.bg {
background-color:#d124ce;
}

 .hd {
        width: 260px;
        height: 192px;
        align-content: center;
        margin: 0px auto;
    }

    .xq {
        width: 260px;
        height: 26px;
    }

    .ui-act-title {
        margin: 0px 0px;
        white-space: nowrap; /* 不换行 */
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        line-height: 26px;
        display: block;
        position: relative;
        margin-top: -52px;
        float: right;
        right: 0px;
        width: 100%;
        z-index: 3;
        opacity: .8;
        filter: alpha(opacity=90);
        background-color: #fff;
    }

        .ui-act-title a {
            text-decoration: none;
            color: #333333;
            text-align: center;
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
        }

    .xq {
        position: relative;
        margin-top: -26px;
        float: right;
        right: 0px;
        height: 26px;
        width: 100%;
        z-index: 3;
        opacity: .8;
        filter: alpha(opacity=90);
        background-color: #fff;
        line-height: 26px;
    }

    .xq-rq {
        padding: 0px 30px;
        color: #999999;
    }

    .xq-qian {
        padding: 0px 30px;
        color: #FF5741;
    }

    .image {
        width: 260px;
    }