.help-block {font-size: 12px;}
.enabled {background: none repeat scroll 0 0 #3fa156;border: 1px solid #528641;color: #fff;cursor: pointer;}
.disabled {background: none repeat scroll 0 0 #f0f0f0;border: 1px solid #b9b9b9;color: #999;cursor: text;}
.btn-submit {border-radius: 3px;font-size: 14px;font-weight: bold;padding: 4px 15px;text-decoration: none;vertical-align: baseline;}

#group-info h1 {display: inline;margin: 0;padding: 0;vertical-align: middle;word-wrap: break-word;display: block;font-size: 25px;font-weight: bold;color: #494949;margin: 0;padding: 0;line-height: 1.1;}

.group-board {padding: 10px 20px;background: #fff4e8;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;position: relative;}
#group-new-topic-bar {padding: 30px 0 15px;}
#group-new-topic-bar .bns {position: relative;float: right;}
.bn-post1, .bn-post1:link, .bn-post1:visited, .bn-post1:hover, .bn-post1:active {position: relative;display: inline-block;zoom: 1;color: #ca6445;padding: 4px 1em 3px 24px;font-size: 13px;border: 1px solid #f8dcc3;background: #fae9da;line-height: 1.2;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;text-decoration: none;}
.bn-post1 i {position: absolute;top: 2px;left: 10px;font-size: 16px;margin-right: 4px;font-style: normal;font-weight: normal;}

.olt {margin-bottom: 10px;border-collapse: collapse;border: 0;padding: 0;margin: 0;}
.olt {width: 100%;padding: 0;margin-bottom: 3px;}
.olt .th td {color: #666;font-weight: 500;}
.olt td {padding: 6px 3px 5px 0;}
.olt td {border-bottom: 1px dashed #ccc;padding: 10px 3px 10px 0;word-wrap: break-word;word-break: break-word;}

/***���ۼ��ظ�����***/
.user a{color: #26709A;line-height: 1.6;margin: 0;padding: 0;font-size: 12px;}
.reply_comment_list{margin:5px;}
.replay_comment{margin-left:5px;}
.replay_comment a{ text-decoration:none;color: #444444;}
.replay_comment a:hover{ text-decoration:underline;color: #444444; }
.reply_item{margin: 10px 15px;}
.reply_item_text{width:595px;display:inline;word-wrap: break-word; word-break: break-all;font-size: 12px;}
.comment_text{width:595px;display:inline;word-wrap: break-word; word-break: break-all;}
.replay_font{font-size: 12px;}

/****** �ظ������е��ұ�С��չʾ******/
#g-side-info { margin-bottom:15px;border:1px solid #eee; }
#g-side-info .g-bd { padding:10px;overflow:hidden;zoom:1; }
#g-side-info p { margin:5px 0 0 0;color:#666; }
#g-side-info .member-info { color:#111;padding-top:5px; }
.member-info1 { color:#666;padding-top:5px; }
.group-item .group-pic { float:left;margin-right:12px; }
.group-item .info { overflow:hidden;margin-right:24px; }
.group-item .title { font-size:14px; }
.group-item .title_my { font-size:12px; }
.group-item .title_my p a { font-size: 12px;color: #666; }
#g-side-info .ft { background-color:#f8f8f8;font-size:14px;padding:6px 0; }
#g-side-info .ft { background-color:#edf6ed;padding:10px 0; }
#g-side-info .ft-members { margin-bottom:10px;line-height:1.5;color:#666; }
#g-side-info .ft-members i { color:#370;font-style: normal;font-weight: normal; }
#g-side-info .ft .member-status {padding-left: 70px;}
#g-side-info-member { margin-bottom:15px;border-bottom:1px solid #e3e3e3; }
#g-side-info-member .bd { padding-bottom:15px;overflow:hidden;zoom:1; }
.bn-join, .lnk-selection {padding: 0 10px;display: inline-block;zoom: 1;line-height: 1.8;text-align: center;border-radius: 3px;}
.lnk-selection:active {  background-color: #3fa156;  color: #fff;}
.lnk-selection:active, .lnk-selection:hover {  background-color: #44af5d;}
#g-side-info .group-item .info p i {  color: #372;}
#g-side-info .ft .member-status{  padding-left: 70px;}
.lnk-selection:link, .lnk-selection:visited, .lnk-selection:hover, .lnk-selection:active {background-color: #3fa156;color: #fff;}


/*********������ҳ*********/
.head-nav { margin-bottom: 20px;}
.head-nav .head-title {font-weight: 500;font-size: 25px;word-wrap: break-word;display: block;font-size: 25px;font-weight: bold;color: #494949;margin: 0;padding: 0 0 15px 0;}
.channel-item .likes {float: left;margin-right: 19px;padding: 8px 0;width: 48px;line-height: 1.3;text-align: center;font-size: 13px;color: #ca6445;background: #fae9da;}
.channel-item .g-bd {font-size: 12px;}
.channel-item .g-bd, .channel-item .block, .channel-item .block p, .mod .hd, .channel-group-rec li, .channel-group-rec li .info {overflow: hidden;zoom: 1;}
.channel-item h3 {margin: 0 0 12px 0;line-height: 1.3;font-weight: normal;background: 0;margin-left: 4px;font: 14px Arial,Helvetica,sans-serif;color: #666;margin-bottom: 1px;line-height: 1.8;}
.channel-item .block {padding: 10px;color: #999;background: #f9f9f9;}
.channel-item .bd, .channel-item .block, .channel-item .block p, .mod .hd, .channel-group-rec li, .channel-group-rec li .info {overflow: hidden;zoom: 1;}
.channel-item .source {margin-top: 10px;color: #666;}
.channel-item .block p {margin: 0;}
.channel-item .source .from {margin-right: 18px;}
.channel-item .pubtime {color: #999;}
.channel-item .source a:link, .channel-item .source a:visited {color: #666;}

a.btn-fav:link, a.btn-fav:visited {border-color: #f2ece7;background-color: #fff6ee;color: #99776b;}
.fav-add, .fav-add:link, .fav-add:hover {background: url(../../itravelfont/image/ic_like.png) no-repeat 8px 3px;}
.btn-fav {display: inline-block;zoom: 1;padding: 0 8px 0 30px;vertical-align: middle;height: 19px;line-height: 19px;line-height: 21px\9;overflow: hidden;border: 1px solid #edceba;margin-left: 4px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}

/******������ϸ--ϲ���б�*******/
.topic-love-div {border-bottom: 1px dashed #e6e6e6;padding: 10px 0;overflow: hidden;}