@{
    ViewBag.Title = "步行者-活动";
}
<link href="~/Content/css/index.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/js/index.js"></script>
<div id="huodong">
    <div></div>
    <div></div>
</div>