@{
    ViewBag.Title = "问答";
}
<link rel="stylesheet" href="/themes/flt/group/group.css"/>
<div id="db-nav-location" class="nav_act">
<div class="container">
    <div class="row-fluid">
        <div class="nav-wrap" style="height: 60px;">
            <div class="nav-primary">
                
                <div class="nav-logo_group">
                    <a title="拾梦人话题" href="/group/group/htindex.jhtml"></a>
                </div>
                <div class="nav-items nav-logged-in">
                    <ul style="margin-left: 0px;">
                        <li>
                            <a href="/group/group/ntindex.jhtml">最新话题</a>
                        </li>
                        <li>
                            <a href="/group/group/htindex.jhtml">精选话题</a>
                        </li>
                        <li>
                            <a href="/group/group/gindex.jhtml">话题小组</a>
                        </li>
                        <li id="myGroupInfo" style="display: none;">
                            <a href="/group/group/mgindex.jhtml">我的小组</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 网站头部 end -->

<div class="container" style="padding-top: 30px;">
    <div class="head-nav">
        <span class="head-title">
            最新话题
        </span>
    </div>
</div>
<div class="container" style="margin-bottom: 50px;">

    <div class="row-fluid">
        <div class="span8">
            <div class="channel-item">
                <div class="likes">7<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=113">手机微信转账处理中被骗怎么办</a></h3>
                    <div class="block">
                        <p><br />手机微信转账处理中被骗怎么办全民在线小二官方QQ:610795188 &nbsp;贴心的服务QQ:6107+95188 ;专业受理、不到账、退款、提现、充值、投诉、改期、查询、等综合业务。</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=25">户外知识</a></span>
                        <span class="pubtime">2016-12-9 12:04:06</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                7
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dashed #ccc;margin: 20px 0;">
            <div class="channel-item">
                <div class="likes">6<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=112">手机微信转账交易被骗怎么办</a></h3>
                    <div class="block">
                        <p><br />手机微信转账交易被骗怎么办全民在线小二官方QQ:610795188 &nbsp;贴心的服务QQ:6107+95188 ;专业受理、不到账、退款、提现、充值、投诉、改期、查询、等综合业务。</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=25">户外知识</a></span>
                        <span class="pubtime">2016-12-9 12:03:57</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                6
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dashed #ccc;margin: 20px 0;">
            <div class="channel-item">
                <div class="likes">7<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=111">手机微信转账被骗怎么办</a></h3>
                    <div class="block">
                        <p><br />手机微信转账被骗怎么办全民在线小二官方QQ:610795188 &nbsp;贴心的服务QQ:6107+95188 ;专业受理、不到账、退款、提现、充值、投诉、改期、查询、等综合业务。</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=23">缘在路上</a></span>
                        <span class="pubtime">2016-12-9 12:03:27</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                7
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dashed #ccc;margin: 20px 0;">
            <div class="channel-item">
                <div class="likes">9<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=110">我在微信上扫描二维码转账被骗怎么办</a></h3>
                    <div class="block">
                        <p><br />我在微信上扫描二维码转账被骗怎么办全民在线小二官方QQ:610795188 &nbsp;贴心的服务QQ:6107+95188 ;专业受理、不到账、退款、提现、充值、投诉、改期、查询、等综合业务。</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=23">缘在路上</a></span>
                        <span class="pubtime">2016-12-9 12:03:16</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                9
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dashed #ccc;margin: 20px 0;">
            <div class="channel-item">
                <div class="likes">6<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=109">我在微信上转账到银行卡被骗怎么办</a></h3>
                    <div class="block">
                        <p><br />我在微信上转账到银行卡被骗怎么办全民在线小二官方QQ:610795188 &nbsp;贴心的服务QQ:6107+95188 ;专业受理、不到账、退款、提现、充值、投诉、改期、查询、等综合业务。</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=23">缘在路上</a></span>
                        <span class="pubtime">2016-12-9 12:03:01</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                6
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dashed #ccc;margin: 20px 0;">
            <div class="channel-item">
                <div class="likes">6<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=108">我在微信上即时转账被骗怎么办</a></h3>
                    <div class="block">
                        <p>我在微信上即时转账被骗怎么办全民在线小二官方QQ:610795188 &nbsp;贴心的服务QQ:6107+95188 ;专业受理、不到账、退款、提现、充值、投诉、改期、查询、等综合业务。</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=23">缘在路上</a></span>
                        <span class="pubtime">2016-12-9 12:02:41</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                6
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dashed #ccc;margin: 20px 0;">
            <div class="channel-item">
                <div class="likes">3<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=107">我在微信上直接转账被骗怎么办</a></h3>
                    <div class="block">
                        <p><br />我在微信上直接转账被骗怎么办全民在线小二官方QQ:610795188 &nbsp;贴心的服务QQ:6107+95188 ;专业受理、不到账、退款、提现、充值、投诉、改期、查询、等综合业务。</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=23">缘在路上</a></span>
                        <span class="pubtime">2016-12-9 12:02:04</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                3
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dashed #ccc;margin: 20px 0;">
            <div class="channel-item">
                <div class="likes">4<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=106">我在微信上转账处理中被骗怎么办</a></h3>
                    <div class="block">
                        <p><br />我在微信上转账处理中被骗怎么办全民在线小二官方QQ:610795188 &nbsp;贴心的服务QQ:6107+95188 ;专业受理、不到账、退款、提现、充值、投诉、改期、查询、等综合业务。</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=23">缘在路上</a></span>
                        <span class="pubtime">2016-12-9 12:01:55</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                4
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dashed #ccc;margin: 20px 0;">
            <div class="channel-item">
                <div class="likes">6<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=105">我在微信上转账被骗怎么办</a></h3>
                    <div class="block">
                        <p><br />我在微信上转账被骗怎么办全民在线小二官方QQ:610795188 &nbsp;贴心的服务QQ:6107+95188 ;专业受理、不到账、退款、提现、充值、投诉、改期、查询、等综合业务。</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=23">缘在路上</a></span>
                        <span class="pubtime">2016-12-9 12:00:54</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                6
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dashed #ccc;margin: 20px 0;">
            <div class="channel-item">
                <div class="likes">9<br>浏览</div>
                <div class="g-bd">
                    <h3><a href="/group/topic/view.jhtml?topic_id=104">小王子OTR的人生就是没有什么不可以</a></h3>
                    <div class="block">
                        <p>肆意潇洒的人生有什么不可以？&nbsp;人生的成功往往是从你敢想开始的&nbsp;事实上你的人生没有什么不可以&nbsp;有些东西的出现本来就是为了惊艳我们的人生比如说诚意满满的小王子OTR&nbsp;60岁的曾老仍在折腾自己的人生你敢想象自己一把年纪骑着哈雷的模样么？&nbsp;只有敢想才有...</p>
                    </div>
                    <div class="source">
                        <span class="from">来自  <a href="/group/group/view.jhtml?group_id=19">在路上</a></span>
                        <span class="pubtime">2016-12-8 21:53:17</span>
                        <div style="float: right;">
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="浏览">
                                <i class="ui-i-view ui-i"></i>
                                9
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="喜欢">
                                <i class="ui-i-good ui-i"></i>
                                0
                            </a>
                            <a href="javascript:void(0)" class="a-view" style="text-align: right;" title="评论">
                                <i class="ui-i-comment ui-i"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page" style="text-align: center;margin-top: 10px;padding: 30px 0;">
                <a href="javascript:void(0);" class="p">首页</a>
                <a class="current" href="javascript:void(0);">1</a>
                <a class="" href="/group/group/ntindex-2.jhtml">2</a>
                <a class="" href="/group/group/ntindex-3.jhtml">3</a>
                <a class="" href="/group/group/ntindex-4.jhtml">4</a>
                <a class="" href="/group/group/ntindex-5.jhtml">5</a>
                <a class="" href="/group/group/ntindex-6.jhtml">6</a>
                <a class="" href="/group/group/ntindex-7.jhtml">7</a>
                <a class="" href="/group/group/ntindex-8.jhtml">8</a>
                <a class="" href="/group/group/ntindex-9.jhtml">9</a>
                <a href="/group/group/ntindex-2.jhtml" class="n">下一页</a>
            </div>
        </div>

        <div class="span4">
            <div style="margin-left: 20px;">
                <div class="font12">
                    <div class="ui-right-title">
                        <i></i>
                        <h5>推荐加入小组</h5>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-left: 20px;overflow: hidden;padding-bottom: 10px;margin-top: 10px;border-bottom: 1px solid #e5e5e5;">
                            <div class="span3">
                                <div style="padding: 0;">
                                    <a href="/group/group/view.jhtml?group_id=8" title="户外环保专家" target="_blank">
                                        <img class="header-small" src="http://www.shimengren.com/FileServer/attached/image/20141117/20141117192042_455.jpg" alt="户外环保专家">
                                    </a>
                                </div>
                            </div>
                            <div class="span9">
                                <div style="margin-left: 10px;">
                                    <div style="font-size: 12px;margin-bottom: 10px;">
                                        <a href="/group/group/view.jhtml?group_id=8" target="_blank" title="户外环保专家">
                                            户外环保专家
                                        </a>
                                    </div>
                                    <div>
                                        <span>6个成员</span>
                                        <span style="margin-left: 10px;">
                                            <a href="#" onclick="javascript:joinGroup(8);" class="j a_show_login lnk-join"><i style="font-style: normal;font-weight: normal;">+</i>加入小组</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-left: 20px;overflow: hidden;padding-bottom: 10px;margin-top: 10px;border-bottom: 1px solid #e5e5e5;">
                            <div class="span3">
                                <div style="padding: 0;">
                                    <a href="/group/group/view.jhtml?group_id=30" title="爱旅途" target="_blank">
                                        <img class="header-small" src="http://www.shimengren.com/FileServer/attached/image/20150519/20150519084631_345.jpg" alt="爱旅途">
                                    </a>
                                </div>
                            </div>
                            <div class="span9">
                                <div style="margin-left: 10px;">
                                    <div style="font-size: 12px;margin-bottom: 10px;">
                                        <a href="/group/group/view.jhtml?group_id=30" target="_blank" title="爱旅途">
                                            爱旅途
                                        </a>
                                    </div>
                                    <div>
                                        <span>1个成员</span>
                                        <span style="margin-left: 10px;">
                                            <a href="#" onclick="javascript:joinGroup(30);" class="j a_show_login lnk-join"><i style="font-style: normal;font-weight: normal;">+</i>加入小组</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-left: 20px;overflow: hidden;padding-bottom: 10px;margin-top: 10px;border-bottom: 1px solid #e5e5e5;">
                            <div class="span3">
                                <div style="padding: 0;">
                                    <a href="/group/group/view.jhtml?group_id=23" title="缘在路上" target="_blank">
                                        <img class="header-small" src="http://www.shimengren.com/FileServer/attached/image/20150203/20150203192942_619.gif" alt="缘在路上">
                                    </a>
                                </div>
                            </div>
                            <div class="span9">
                                <div style="margin-left: 10px;">
                                    <div style="font-size: 12px;margin-bottom: 10px;">
                                        <a href="/group/group/view.jhtml?group_id=23" target="_blank" title="缘在路上">
                                            缘在路上
                                        </a>
                                    </div>
                                    <div>
                                        <span>6个成员</span>
                                        <span style="margin-left: 10px;">
                                            <a href="#" onclick="javascript:joinGroup(23);" class="j a_show_login lnk-join"><i style="font-style: normal;font-weight: normal;">+</i>加入小组</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-left: 20px;overflow: hidden;padding-bottom: 10px;margin-top: 10px;border-bottom: 1px solid #e5e5e5;">
                            <div class="span3">
                                <div style="padding: 0;">
                                    <a href="/group/group/view.jhtml?group_id=9" title="户外学院" target="_blank">
                                        <img class="header-small" src="http://www.shimengren.com/FileServer/attached/image/20141117/20141117192248_201.jpg" alt="户外学院">
                                    </a>
                                </div>
                            </div>
                            <div class="span9">
                                <div style="margin-left: 10px;">
                                    <div style="font-size: 12px;margin-bottom: 10px;">
                                        <a href="/group/group/view.jhtml?group_id=9" target="_blank" title="户外学院">
                                            户外学院
                                        </a>
                                    </div>
                                    <div>
                                        <span>9个成员</span>
                                        <span style="margin-left: 10px;">
                                            <a href="#" onclick="javascript:joinGroup(9);" class="j a_show_login lnk-join"><i style="font-style: normal;font-weight: normal;">+</i>加入小组</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-left: 20px;overflow: hidden;padding-bottom: 10px;margin-top: 10px;border-bottom: 1px solid #e5e5e5;">
                            <div class="span3">
                                <div style="padding: 0;">
                                    <a href="/group/group/view.jhtml?group_id=1" title="我们就是爱自虐" target="_blank">
                                        <img class="header-small" src="http://www.shimengren.com/FileServer/attached/image/20150209/20150209222412_897.jpg" alt="我们就是爱自虐">
                                    </a>
                                </div>
                            </div>
                            <div class="span9">
                                <div style="margin-left: 10px;">
                                    <div style="font-size: 12px;margin-bottom: 10px;">
                                        <a href="/group/group/view.jhtml?group_id=1" target="_blank" title="我们就是爱自虐">
                                            我们就是爱自虐
                                        </a>
                                    </div>
                                    <div>
                                        <span>38个成员</span>
                                        <span style="margin-left: 10px;">
                                            <a href="#" onclick="javascript:joinGroup(1);" class="j a_show_login lnk-join"><i style="font-style: normal;font-weight: normal;">+</i>加入小组</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-left: 20px;overflow: hidden;padding-bottom: 10px;margin-top: 10px;border-bottom: 1px solid #e5e5e5;">
                            <div class="span3">
                                <div style="padding: 0;">
                                    <a href="/group/group/view.jhtml?group_id=25" title="户外知识" target="_blank">
                                        <img class="header-small" src="http://www.shimengren.com/FileServer/attached/image/20150225/20150225212705_446.jpg" alt="户外知识">
                                    </a>
                                </div>
                            </div>
                            <div class="span9">
                                <div style="margin-left: 10px;">
                                    <div style="font-size: 12px;margin-bottom: 10px;">
                                        <a href="/group/group/view.jhtml?group_id=25" target="_blank" title="户外知识">
                                            户外知识
                                        </a>
                                    </div>
                                    <div>
                                        <span>25个成员</span>
                                        <span style="margin-left: 10px;">
                                            <a href="#" onclick="javascript:joinGroup(25);" class="j a_show_login lnk-join"><i style="font-style: normal;font-weight: normal;">+</i>加入小组</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-left: 20px;overflow: hidden;padding-bottom: 10px;margin-top: 10px;border-bottom: 1px solid #e5e5e5;">
                            <div class="span3">
                                <div style="padding: 0;">
                                    <a href="/group/group/view.jhtml?group_id=5" title="广州非周末户外旅行约伴" target="_blank">
                                        <img class="header-small" src="http://www.shimengren.com/FileServer/attached/image/20141117/20141117125253_202.jpg" alt="广州非周末户外旅行约伴">
                                    </a>
                                </div>
                            </div>
                            <div class="span9">
                                <div style="margin-left: 10px;">
                                    <div style="font-size: 12px;margin-bottom: 10px;">
                                        <a href="/group/group/view.jhtml?group_id=5" target="_blank" title="广州非周末户外旅行约伴">
                                            广州非周末户外旅行约伴
                                        </a>
                                    </div>
                                    <div>
                                        <span>60个成员</span>
                                        <span style="margin-left: 10px;">
                                            <a href="#" onclick="javascript:joinGroup(5);" class="j a_show_login lnk-join"><i style="font-style: normal;font-weight: normal;">+</i>加入小组</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-left: 20px;overflow: hidden;padding-bottom: 10px;margin-top: 10px;border-bottom: 1px solid #e5e5e5;">
                            <div class="span3">
                                <div style="padding: 0;">
                                    <a href="/group/group/view.jhtml?group_id=27" title="猎梦户外" target="_blank">
                                        <img class="header-small" src="http://www.shimengren.com/FileServer/attached/image/20150401/20150401174008_474.jpg" alt="猎梦户外">
                                    </a>
                                </div>
                            </div>
                            <div class="span9">
                                <div style="margin-left: 10px;">
                                    <div style="font-size: 12px;margin-bottom: 10px;">
                                        <a href="/group/group/view.jhtml?group_id=27" target="_blank" title="猎梦户外">
                                            猎梦户外
                                        </a>
                                    </div>
                                    <div>
                                        <span>2个成员</span>
                                        <span style="margin-left: 10px;">
                                            <a href="#" onclick="javascript:joinGroup(27);" class="j a_show_login lnk-join"><i style="font-style: normal;font-weight: normal;">+</i>加入小组</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-left: 20px;overflow: hidden;padding-bottom: 10px;margin-top: 10px;border-bottom: 1px solid #e5e5e5;">
                            <div class="span3">
                                <div style="padding: 0;">
                                    <a href="/group/group/view.jhtml?group_id=28" title="西行牧人户外" target="_blank">
                                        <img class="header-small" src="http://www.shimengren.com/FileServer/attached/image/20150409/20150409131833_873.jpg" alt="西行牧人户外">
                                    </a>
                                </div>
                            </div>
                            <div class="span9">
                                <div style="margin-left: 10px;">
                                    <div style="font-size: 12px;margin-bottom: 10px;">
                                        <a href="/group/group/view.jhtml?group_id=28" target="_blank" title="西行牧人户外">
                                            西行牧人户外
                                        </a>
                                    </div>
                                    <div>
                                        <span>1个成员</span>
                                        <span style="margin-left: 10px;">
                                            <a href="#" onclick="javascript:joinGroup(28);" class="j a_show_login lnk-join"><i style="font-style: normal;font-weight: normal;">+</i>加入小组</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;float: right;">
                        <a href="/group/group/gindex.jhtml" title="更多活动" style="color:#8D8D8D;">
                            > 更多
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- 网站尾部 start-->
<div class="error">
    <span></span>
</div>
<div class="warning">
    <span></span>
</div>
<div class="success">
    <span></span>
</div>
<script type="text/javascript">
<!--
//验证不通过，错误提示
function showError(msg,time){
	time = time ? time : 3000;
	var wrap=$(".error");
	wrap[0].timer&&clearTimeout(wrap[0].timer);
	wrap.find("span").html("&nbsp;&nbsp;"+msg);
	wrap.show();
	wrap[0].timer=setTimeout(function(){
		wrap.animate({"opacity":"0"},"normal","",function(){
		   wrap.hide();
		   wrap.css("opacity","1");
		});
	},time);
}
function showWarning(msg,time){
	time = time ? time : 3000;
	var wrap=$(".warning");
	wrap[0].timer&&clearTimeout(wrap[0].timer);
	wrap.find("span").html("&nbsp;&nbsp;"+msg);
	wrap.show();
	wrap[0].timer=setTimeout(function(){
		wrap.animate({"opacity":"0"},"normal","",function(){
		   wrap.hide();
		   wrap.css("opacity","1");
		});
	},time);
}
function showSuccess(msg,time){
	time = time ? time : 3000;
	var wrap=$(".success");
	wrap[0].timer&&clearTimeout(wrap[0].timer);
	wrap.find("span").html("&nbsp;&nbsp;"+msg);
	wrap.show();
	wrap[0].timer=setTimeout(function(){
		wrap.animate({"opacity":"0"},"normal","",function(){
		   wrap.hide();
		   wrap.css("opacity","1");
		});
	},time);
}
//-->
</script>
<div class="row-fluid">
    <div id="loading" class="modal hide fade in" style="margin:-35px 0 0 -100px;display: none;width: 200px;height: 50px;text-align: center;padding: 10px;">
        <div class="modal-body" style="max-height: 30px;padding: 10px;">
            <img style="-webkit-user-select: none" src="/themes/itravelfont/image/loading.gif">
            提交处理中
        </div>
    </div>
</div>


