@{
    ViewBag.Title = "Contact";
    Layout = null;
}
@*<link href="~/Content/Site.css" rel="stylesheet" />*@
<style>
    body{
        width:100%;
        margin:0px;
    }
    .containerQQ {
        width: 950px;
        height: 100%;
        border: 1px solid #4cff00;
        margin: 0 auto;
    }
    .box {
        border:2px solid red;
        height:40px;
        width:200px;
        text-align:center;
        line-height:40px;
        padding:20px;
        margin :10px;
    }
    .floatLeft
    {
        float:left;
    }
    .floatRight {
        float: right;
    }
   
</style>
 
<div class="containerQQ">
    <div class="box floatLeft">
        我是第一个div
    </div>
    <div class="box floatLeft">
        我是第二个div
    </div>
    <div class="box floatLeft">
        我是第三个div
    </div>
</div>