@{
    ViewBag.Title = "Contact";
}
 <style type="text/css">

     .hd {
         width: 300px;
         height: 192px;
         /*text-align:center;*/
         /*line-height:35px;*/
         align-content: center;
         margin: 0px auto;
          
     }

     .xq {
         width: 300px;
         height: 26px;
     }
     .ui-act-title {
         margin: 0px 0px;
         white-space: nowrap; /* 不换行 */
         overflow: hidden;
         text-overflow: ellipsis;
         text-align: center;
         line-height: 26px;
         display: block;


         position: relative;
         margin-top: -52px;
         float: right;
         right: 0px;
         width: 100%;
         z-index: 3;
         opacity: .8;
         filter: alpha(opacity=90);
         background-color: #fff;

     }
         .ui-act-title a {
             text-decoration: none;
             color: #333333;
             text-align: center;
             font-weight: 400;
             font-style: normal;
             font-size: 13px;
            
             
         }
     .xq {
         position: relative;
         margin-top: -26px;
         float: right;
         right: 0px;
         height: 26px;
         width: 100%;
         z-index: 3;
         opacity: .8;
         filter: alpha(opacity=90);
         background-color: #fff;
         line-height: 26px;
     }
     .xq-rq {
         padding: 0px 30px;
         color: #999999;
     }
     .xq-qian {
         padding: 0px 30px;
         color: #FF5741;
     }
     .image
     {
         width:300px;
     }
</style> 
<div class="hd">
    <a href="#">
        <img  class="image" src="~/Content/images/7.jpg" />
        
            <h5 class="ui-act-title">
                已报15人【新路线】8.14赏牛塘山高山草甸，访神秘百年石头古村
            </h5>
         
        <div class="xq">
            <span class="xq-rq">08月14日出发</span>
            <span class="xq-qian">￥125</span>
        </div>
    </a>
</div>
 