@{
    ViewBag.Title = "山友集中营";
}
<link href="~/Content/css/index.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/js/index.js"></script>
<link href="~/Content/css/init.css" rel="stylesheet" />
<div id="dlunbo">
    <div id="igs">
        <div class="ig"><img class="img_lb" src="~/Content/images/1.png" /></div>
        <div class="ig"><img class="img_lb" src="~/Content/images/2.png" /></div>
        <div class="ig"><img class="img_lb" src="~/Content/images/3.png" /></div>
        <div class="ig"><img class="img_lb" src="~/Content/images/4.png" /></div>
        <div class="ig"><img class="img_lb" src="~/Content/images/5.png" /></div>
    </div>
    <div id="tabs">
        <div class="tab bg">1</div>
        <div class="tab">2</div>
        <div class="tab">3</div>
        <div class="tab">4</div>
        <div class="tab">5</div>
    </div>
    <p class="clear">
        <div class="btn btn1"><</div>
        <div class="btn btn2">></div>
</div>
<div class="tourWebWith">
    @{
        for (int i = 0; i < 3; i++)
        {
            <div class="hd tourleftFloat">
                <a href="#">
                    <img class="image" src="~/Content/images/7.jpg" />
                    <h5 class="ui-act-title">
                        已报15人【新路线】8.14赏牛塘山高山草甸，访神秘百年石头古村
                    </h5>

                    <div class="xq">
                        <span class="xq-rq">08月14日出发</span>
                        <span class="xq-qian">￥125</span>
                    </div>
                </a>
            </div>
        }
    }
</div>
 